* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html {
  height: 100%; 
}

:root {
  /* CORES */
  --cor-primaria: #12141A;
  --cor-secundaria: #44BE93;
  --cor-tercearia: #1A1A1A;
  --cor-primaria-nav: #12141A;
  --cor-secundaria-nav: #12141A;
  --cor-primaria-card-pilares: #1F5844;
  --cor-secundaria-card-pilares: #24251E;
  --cor-borda-de-input-cinza-escuro: #2C2C2E;
  --cor-borda-de-formulario-cinza-escuro: #363636;
  --cor-borda-inferior-nav-item-cinza-claro: #BBBBBB;
  --cor-borda-inferior-nav-bar-cinza-escuro: #353535;
  --cor-texto-cinza-claro: #D9D9D9;
  --cor-texto-principal: #fff;
  --cor-botao-verde: #1A7756;
  --gradiente-topico-verde: linear-gradient(148deg, rgba(68, 190, 147, 1) 51%, rgba(10, 32, 20, 1) 100%);
  --cor-fundo-input-cinza: #242426;
  --cor-chips-vermelho: #700000;
  /* FONTES */
  --fonte-primaria: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --fonte-secundaria: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  min-height: 100%;
  background-color: #12141A;
  margin: 0; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff; 
  font-family: var(--fonte-roboto);
}



