.navbar {
  display: flex;
  align-items: center;
  position: fixed; 
  padding: 15px 25px 15px 25px;
  top: 0;     
  width: 100%;
  height: 69px;
  opacity: 0.95;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px); 
  border-bottom: solid 1px #353535;
  z-index: 10; 
  gap: 3vw;
  font-family: var(--fonte-primaria);
}

.navbar.transparent{
  background: transparent;
}

.navbar.solid{
  background: #12141A;
  background: linear-gradient(120deg, rgba(18, 20, 26, 1) 0%, rgba(25, 37, 39, 1) 100%);
}

.logo {
  color: white;
  font-size: 1.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 100px;
}

a{
  text-decoration: none;
}

#profile{
  margin-left: 600px;
}