.navbar {
  display: flex;
  align-items: center;
  position: fixed; 
  padding: 15px 25px 15px 25px;
  top: 0;
  width: 100%;
  background-color: transparent; 
  border-bottom: solid 1px #353535;
  z-index: 10; 
  gap: 3vw;
}

.logo {
  color: white;
  font-size: 1.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 100px;
}
