.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    color: var(--cor-texto-principal-branco);
    table-layout: fixed;
    border: solid 1px var(--cor-borda-de-formulario-cinza-escuro);
    border-radius: 10px 10px 0px 0px;
}


.th {
    padding: 20px; 
    text-align: left;
    font-weight: 600;
    background-color: var(--cor-borda-de-formulario-cinza-escuro);
    font-size: 14px;
    text-transform: uppercase;
    vertical-align: middle; 

}

.th:first-child {
    border-top-left-radius: 10px;
}

.th:last-child {
    border-top-right-radius: 10px;
}

.dataRow:last-child {
    border-bottom: none;
}

.td {
    padding: 20px;
    vertical-align: middle;
    font-size: 16px;
    border-bottom: 1px solid var(--cor-borda-de-formulario-cinza-escuro);
}

.th:nth-child(1), .td:nth-child(1) {
    width: 20%;
}
.th:nth-child(2), .td:nth-child(2) {
    width: 30%;
}
.th:nth-child(3), .td:nth-child(3) {
    width: 25%;
}
.th:nth-child(4), .td:nth-child(4) {
    width: 25%;
}
