.card {
    width: 488px;
    height: 326px;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: ease 400ms;
    font-family: var(--fonte-primaria);
}

.card:hover{
    transform: scale(1.04);
}

.image {
    position: absolute;
    z-index: 0;
}

.image img {
    width: 100%;
    height: 100%;
}

.infoContainer {
    position: relative;
    z-index: 1;
    color: white;
    padding: 20px;
    background: linear-gradient(110deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
}

.infoContainer h1 {
    font-size: 32px;
    font-weight: 500;
    z-index: 2;
}

.infoContainer p {
    font-size: 24px;
    color: var(--cor-texto-cinza-claro) ;
    font-weight: 500;
    z-index: 2;
}
