.filterContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 410px;
    height: 600px;
    padding: 20px;
    gap: 35px;
    background-color: var(--cor-tercearia);

}