.bannerCarrossel{
    width: 1565px;
    height: 508px;
    margin-left: 10vw;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    border-radius: 25px;
    border: 3px solid var(--cor-borda-de-formulario-cinza-escuro);
}

.bannerCarrossel figure {
    width: 110%;
    height: 100%;
    margin: 0;
}

.bannerCarrossel img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}

