.articleAbout {
  background-image: url('../../assets/background/Fundo-Hero-Section.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; 
  
  width: 830px;
  height: 797px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.articleAbout p {
  background: linear-gradient(90deg, #44BE93 51%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 36px;
  margin: 0;
  font-weight: 400;
}

.articleAbout h1 {
  font-size: 64px;
  max-width: 500px;
  text-align: center;
  font-weight: 300;
  color: #fff;
  margin-top: 10px;
  font-weight: 400;
}
