.cardBase {
    width: 645px;
    height: 329px;
    border-radius: 20px;
    border: 2px solid var(--cor-borda-de-formulario-cinza-escuro);
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
}


.cardGrande {
    width: 645px;
    height: 329px;
    margin: 0 auto;
    margin-top: 20vh;
    transform: scale(1);
    opacity: 1;
    z-index: 2;
}


.cardPequeno {
    width: 493px;
    height: 253px;
    margin: 0 10px;
    transform: scale(0.9);
    opacity: 0.7;
    z-index: 1;
}


.imageMovieCard {
    position: absolute;
    inset: 0;
    border-radius: 20px;
    z-index: 1;
}

.imageMovieCard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.infoContainer {
    position: relative;
    z-index: 2;
    color: white;
    padding: 20px;
    background: rgba(0, 0, 0, 0.35);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
}

.desc {
    display: flex;
    gap: 10px;
}
