.categoryCard {
    position: relative;
    width: 525px;
    height: 310px;
    background: linear-gradient(148deg, rgba(30, 54, 57, 1) 51%, rgba(19, 22, 28, 1) 100%);
    border-radius: 20px;
    flex-shrink: 0; 
    overflow: visible; 
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.categoryCard h1 {
    background: linear-gradient(120deg, #F0F0F0 51%, #8A8A8A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    position: absolute;
    left: 58%;
    top: 70%;
    user-select: none;
    z-index: 2;
}

.categoryCard figure {
    position: absolute;
    margin: 0;
    bottom: 0; 
    left: 0;
    width: 100%;
    height: 418px; 
    z-index: 1; 
}

.categoryCard img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 50% 100%; 
    pointer-events: none;
    
}