.container{
    background-color: #0D0D0D;
    border-radius: 50px;
    border-bottom: solid 1px #363636;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container.min{
    width: 165px;
    height: 75px;
}

.container.max{
    width: 403.2px;
    height: 81.9px;
}

.formIcon{
    background-color: #1B1B1B;
    width: 95%;
    height: 90%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid 1px #363636 ;
}

.formIcon p{
    font-size: 24px;
    font-weight: 600;
}