.actionButton{
    width: 162px;
    height: 28px;
    border-radius: 10px;
    background-color: var(--cor-botao-verde);
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    transition: ease 200ms;
}

.actionButton:hover{
    cursor: pointer;
    margin-bottom: 5px;
}