.loginContainer{
    background-image: url('../../assets/background/LOGIN-FUNDO.png');
    height: 100vh;
    font-family: var(--fonte-primaria);
}

.loginMain{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}