.sliderContainer {
    position: relative;
    max-width: 1905px;
    margin: 0 auto;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.viewport {
    max-width: 1645px;
    display: flex;
    gap: 64px;
    overflow-x: auto;
    scroll-behavior: smooth; 
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}
.viewport::-webkit-scrollbar {
    display: none; 
}

.navButton {
    position: absolute;
    top: 50%;
    margin-top: -15px; 
    transform: translateY(-50%);
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.navButton:hover {
    background: rgba(0, 0, 0, 0.8);
}

.prevButton {
    left: 15px; 
}

.nextButton {
    right: 15px;
}