article{
    position: absolute;
    width: 1488px;
    height: 89px;
    background: linear-gradient(120deg, rgba(63, 63, 63, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 25px;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    display: flex;
    align-items: center;
    padding: 0 50px;
    justify-content: space-between;
    z-index: 2;
}

.CarrosselInfo {
  display: flex;
  gap: 70px;
  align-items: center;
}

.CarrosselInfo p{
  font-size: 32px;
}

article a{
    font-size: 32px;
    text-decoration: none;
    color: var(--cor-texto-principal);
    transition: ease 200ms;
}

article a:hover{
    color: var(--cor-texto-cinza-claro)
}

article a img{
    margin-left: 20px;
    width: 20px;
}