h1{
    display: flex;
    flex-direction: column;
    width: fit-content;
    font-size: 36px;
    font-family: var(--fonte-primaria);
}

h1::after{
    content: '';
    margin-top: 10px;
    border: 2px solid transparent; 
    border-image: var(--gradiente-topico-verde) 1;
    
}