.inputContainer{
    background-color: var(--cor-fundo-input-cinza);
    color:#fff;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-family: var(--fonte-primaria);
    margin: 0 auto;
    margin-top: 20vh;
    padding: 10px 30px 10px 30px;
    border: solid 1px var(--cor-borda-de-input-cinza-escuro);
}

.inputContainer input{
    background-color: transparent;
    border: none;
    border-radius: 3px;
    font-size: 16px;
}

.inputContainer :focus{
    background-color: transparent;
    border: none;
    border-radius: 3px;
    color: #fff;
}

.inputContainer ::placeholder{
    font-weight: 600;
}

.inputContainer.full{
    width: 1270px;
    height: 55px;
    border-radius: 10px;
}

.inputContainer.mid{
    width: 765px;
    height: 55px;
    border-radius: 3px;
}

.inputContainer.textBox{
    width: 1579px;
    height: 257px;
}