.inputContainer{
    background-color: var(--cor-fundo-input-cinza);
    color:#fff;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    font-family: var(--fonte-primaria);
    padding: 10px 30px 10px 30px;
    border: solid 1px var(--cor-borda-de-input-cinza-escuro);
}

.inputContainer input{
  background-color: transparent;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  outline: none;           
  box-shadow: none;      
  -webkit-appearance: none;
  appearance: none;
}

.inputContainer input:focus{
  background-color: transparent;
  border: none;
  color: #fff;
  outline: none;
  box-shadow: none;
}

.inputContainer input::placeholder{
  font-weight: 600;
}

.inputContainer.full{
    width: 1270px;
    height: 55px;
    border-radius: 10px;
}

.inputContainer.mid{
    width: 765px;
    height: 55px;
    border-radius: 3px;
}

.inputContainer.min{
  width: 623px;
  height: 79px;
  border-radius: 10px;
  gap: 10px;
  font-size: 20px;
}

.inputContainer.min input::placeholder{
  font-size: 20px;
}

.inputContainer.min input:focus{
  font-size: 20px;
}

.inputContainer.textBox{
    width: 1579px;
    height: 257px;
}