.profileContainer{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--cor-borda-inferior-nav-bar-cinza-escuro);
    display: flex;
    align-items: center;
    justify-content: center;
}