.card-dev{
    width: 308px;
    height: 393px;
    overflow: hidden;
    background-color: #212325;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    border: solid 1px #44BE93;
    padding:20px 0px 10px 0px;
    transition: ease-in-out 200ms;
}

.card-dev:hover{
    margin-top: 10px;
    cursor: pointer;
}

.card-dev p{
    font-family: var(--fonte-secundaria);
    font-size: 20px;
    font-weight: 400;
}


#img-dev{
    width: 265px;
    height: 256px;
    object-fit: cover;   
    border-radius: 10px;
}

.container-nome{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0px 20px 0px 20px;
    align-items: flex-start;
    justify-content: space-between;
}

.container-funcao{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

