.userRequestsContainer{
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
}

.RequestsHeader{
    height: 93px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    border-bottom:solid 1px var(--cor-borda-de-formulario-cinza-escuro);
    flex-shrink: 0; 
}

.requestsTable{ 
    padding: 50px;
    flex-grow: 1; 
    overflow-y: auto; 
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin; 
    scrollbar-color: var(--cor-borda-de-formulario-cinza-escuro) transparent; 
}