.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  width: 100%;
  background-image: url('../../assets/background/LOGIN-FUNDO.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 20px;
  box-sizing: border-box;
}