.navItem{
    display: flex;
    text-decoration: none;
    color: #fff;
    gap: 10px;
    transition: ease-in 200ms;
}

.navItem:hover{
    color: var(--cor-secundaria)
}

.navItem.active{
    border-bottom: solid 1px #fff;
}

p{
    font-size: 1rem;
    font-weight: 600;
}