.form-container {
  margin-top: 100px;
  width: 100%;
  max-width: 711px;
  min-height: 724px;
  background-color: #1A1A1A;
  padding: 50px;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 0.5px #2F2E31;
}

.input-row {
  display: flex;
  gap: 20px;
  width: 100%;
}

/* Media query para responsividade */
@media (max-width: 768px) {
  .form-container {
    padding: 30px;
  }
}

@media (max-width: 600px) {
  .input-row {
    flex-direction: column;
    gap: 0;
  }
}