.moviesContainer{
    background: url('../../assets/background/FUNDO-FILME.png');
    background-size:cover ;
    font-family: var(--fonte-primaria);
}

.moviesHeader{
    width: 100vw;
    height: 100vh;
    background: url('../../assets/images/FILME-ESPECIFICO.png');
    background-size:cover;
    display: flex;
}

.movieInfo{
    width: 100%;
    height: 100%;
    padding: 94px 146px;
}

.movieInfo h1{
    font-size: 96px;
    max-width: 1065px;
}