.searchContainer{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    font-family: var(--fonte-primaria);
    background-image: url('../../assets/background/FUNDO-PESQUISA.png');
    background-size:cover ;
    background-repeat: no-repeat;
    
}
.searchMain{
    margin-top: 70px;
    margin-left: 10px;
    display: flex;
    gap:28px;
}

aside{
    
    display: flex;
    flex-direction: column;
    gap: 43px;
}

.filterButtonGroup{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.searchResults{
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.resultGrid{
    max-width: 1600px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}