.searchContainer{
    width: 100%;
    height: 100%;
    font-family: var(--fonte-primaria);
    background-image: url('../../assets/background/FUNDO-PESQUISA.png');
    background-repeat: no-repeat;
    
}
.searchMain{
    margin-top: 75px;
    margin-left: 10px;
    display: flex;
    gap:28px;
}
aside{
    
    display: flex;
    flex-direction: column;
    gap: 43px;
}

.filterButtonGroup{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.searchResults{
    display: flex;
    flex-direction: column;
    gap: 70px;
}