.headerHome{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeContainer {
    background: url('../../assets/background/FUNDO.png');
    background-size: cover;
    min-height: 100vh; 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-family: var(--fonte-primaria);
}

.homeMain{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topicContainer{
    width: 100%;
    display: flex;
    padding: 7vh 7vw;
}