.card{
    max-width: 223px;
    max-height: 270px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    transition: transform 0.2s ease; 
}

.card:hover {
    transform: scale(1.05);
}

.card img{
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}


.image-container {
    width: 100%;
    height: 100%;
}