.CategoryFilterOptionContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 346px;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
    font-size: 24px;
    font-family: var(--fonte-primaria);
}


.checkbox {
    appearance: none;
    -webkit-appearance: none;
    width: 22px;
    height: 22px;
    border-radius: 4px;
    border: 4px solid #fff;
    background-color: transparent;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
}


.checkbox:checked {
    border-color: var(--cor-secundaria);
    transform: scale(1.1);
}


.checkbox:checked::after {
    content: "";
    position: absolute;
    left: 5px;
    top: -1px;
    width: 6px;
    height: 12px;
    border: solid var(--cor-secundaria);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    transition: all 0.3s ease;
}


.checked label {
    color: var(--cor-secundaria);
    font-weight: 500;
    transition: color 0.3s ease;
    
}
