.chips{
    width: 162px;
    height: 48px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    font-family: var(--fonte-primaria);
    gap: 2px;
}

.chips img{
    transition: ease 200ms;
}

.chips img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.chips.cast{
    background-color: var(--cor-fundo-input-cinza);
    border-top: solid 1px var(--cor-borda-de-formulario-cinza-escuro)
}

.chips.disapproved{
    background-color: var(--cor-chips-vermelho);
}

.chips.approved{
    background-color: var(--cor-botao-verde);
}

.chips.waiting{
    background-color: var(--cor-fundo-input-cinza);
    border-top: solid 1px var(--cor-borda-de-formulario-cinza-escuro)
}