.button-group-container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.tab-button {
  background-color: #0D0D0D;
  color: white;
  border: 1px solid #2c2c2e;
  padding: 15px 40px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.tab-button.active {
  background-color: #242426;
}

.tab-button:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.tab-button:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.tab-button:hover {
  background-color: #2c2c2e;
}