.solicitationContainer{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background: url('../../assets/background/FUNDO-SOLICITAÇÃO.png');
    background-size:cover ;
    font-family: var(--fonte-primaria);
}

.solicitationContainer main{
    padding: 100px 30px 0px 30px;
}