.profileAside{
    width: 406px;
    height: 752px;
    background-color: var(--cor-tercearia);
    border: solid 1px var(--cor-borda-de-formulario-cinza-escuro);
    display: flex;
    align-items: center;
    padding: 50px 40px;
    
}

.profileInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.profileInfo img{
    width: 145px;
    border-radius: 50%;
}

.profileInfo h2{
    font-size: 20px;
}

.profileInfo p{
    font-size: 16px;
    font-weight: 200;
}

.profileNavigation ul{
    list-style-type: none; 
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}

.navLink {
    font-size: 32px;
    font-weight: 600;
    transition: ease 200ms;
    text-decoration: none;
    cursor: pointer;
}

.inactive {
    color: #fff; 
}

.inactive:hover {
    color: var(--cor-secundaria);
}

.activeInfo {
    color: var(--cor-secundaria);
    font-weight: 600;
}

.activeSolicitacoes {
    color: var(--cor-secundaria); 
    font-weight: 600;
}