.card {
    background-color: rgba(var(--cor-borda-de-input-cinza-escuro-rgb), 0.2);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 25px 30px;
    font-family: var(--fonte-primaria);
    color: #fff;
    flex-grow: 1; 
    width: 377px;
    height: 178px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card p {
    font-size: 24px;
    color: var(--cor-texto-cinza-claro);
    margin: 0;
    font-weight: 500;
}

.card h2 {
    font-size: 64px;
    font-weight: 600;
    margin: 10px 0 0 0;
}