article{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 410px;
    height: 475px;
    padding: 20px;
    gap: 35px;
    margin: 0 auto;
    margin-top: 20vh;
    background-color: var(--cor-tercearia);

}