.form-input {
  width: 100%;
  height: 79px;
  background-color: #242426;
  border: 1px solid #2c2c2e;
  border-radius: 10px;
  padding: 0 20px;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bolder;
  box-sizing: border-box;
}

.form-input::placeholder {
  color: #a0a0a0;
}

.form-input:focus {
  outline: none;
  border-color: #2e8263;
}