.container {
    position: relative;
    width:763px
}

.selectBox {
    width: 100%;
    background-color: var(--cor-fundo-input-cinza);
    padding: 14px 18px;
    border-radius: 10px;
    border: solid 1px var(--cor-borda-de-input-cinza-escuro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.selectBox label {
    color: white;
    font-weight: 600;
}

.icon {
    font-size: 20px;
    color: white;
    transition: transform 0.2s ease;
}

.icon.open {
    transform: rotate(180deg);
}

.dropdown {
    position: absolute;
    width: 100%;
    background-color: var(--cor-fundo-input-cinza);
    border-bottom: solid 1px var(--cor-borda-de-input-cinza-escuro);
    border-left: solid 1px var(--cor-borda-de-input-cinza-escuro);
    border-right: solid 1px var(--cor-borda-de-input-cinza-escuro);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 8px 0;
    z-index: 100;
}

.dropdown li {
    padding: 10px 16px;
    color: white;
    cursor: pointer;
    transition: background 0.2s ease;
    list-style: none;
}

.dropdown li:hover {
    background: #2a2a2a;
}

.openBox {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.fixedLabel {
    color: white;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 6px;
    display: block;
    font-family: var(--fonte-primaria);
}
