article{
    width: 220px;
    height: 351px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    margin-top: 20vh;
    overflow: hidden;
}

article img{
    width: 220px;
    height: 270px;
}

.info-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px 0px 10px 0px;
    gap:7px;
}

.desc{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

article h1{
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.5px;
}